*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .container{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        background: linear-gradient(to right, #94ccdb, #90abda );
        
    }
    .header{
        width: 100%;
        display: flex;
        background: rgb(233, 61, 61);
        height: 80px;
    }
    .image {
        height: 90px;
        padding: 3px;
    }
    .h1{
        margin: auto;
        align-items: center;
        background: linear-gradient( to right, rgb(127, 224, 248), white);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 16px;
        flex: 1 0 auto;
    }
    .mid-section{
        display: none;
    }
    .h2{
        text-align: center;
        padding: 10px;
    }
    .form {
        width: 25%;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        border: 2px solid black;
        border-radius: 7px;
        background: linear-gradient(to bottom, white, red);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        -moz-transition: 0.5s;
        transition: 0.5s;
    }
    .form:hover{
        box-shadow:6px 5px 3px #636363, 11px 10px 3px #222 ;
        -webkit-transform: translateY(-8px);
        -moz-transform: translateY(-8px);
        -ms-transform: translateY(-8px);
        -o-transform: translateY(-8px);
        transform: translateY(-8px);
    }
    .container-input{
        margin: 15px;
    }
    .label {
        font-weight: 500;
        color:black;
        font-size: 20px;
        font-family:Arial, Helvetica, sans-serif;
    }
    .input{
        padding: 5px;
        border-radius: 5px;
        border-color: transparent;
        background-color: white;
    }
    .input:hover{
        border-color: #4d4d4d;
    }
    .input::placeholder{
        color: rgb(129, 129, 129);
    }
    .button {
        padding: 5px;
        font-weight: 600;
        color: black;
        background-color: rgb(168, 165, 165);
        box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
        border-radius: 5px;
    }
    .button:active{
        box-shadow: inset -4px 4px 0 #222;
        font-size: 0.9rem;
    }
    .button:hover{
        border: 2px solid white
    }
    .copieAssinatura{
        font-size: 20px;
        font-family: fantasy, Arial, Helvetica, sans-serif;
        color: red;
        padding: 15px;
    }
    .assinatura{
        min-width: 700px;
        max-width: 800px;
        padding: 5px;
        display: flex;
        justify-content: center;
        border-radius: 7px;
        border: 2px solid black;
        flex-wrap: nowrap;
        align-items: center;
        display: none;
        background-color: white;
    }
    .image-assinatura{
        height: 150px;
        float:left;
        margin-right: 10px;
        margin-bottom: auto;
    }
    .adicionarNome{
        color: red;
        font-weight: bold;
        font-size: 14px;
        font-family: Calibri, Arial, Helvetica, sans-serif;
        padding: auto;
    }
    .adicionarCargo{
        padding: auto;
        font-size: 13px;
        font-family: Arial, Helvetica, sans-serif;
        color: #4d4d4d;
    }
    .endereco-tel{
        color: #4d4d4d;
        line-height: normal;
        font-family: arial;
        font-weight: bold;
        font-size: 11px;
    }
    .nossaLoja{
        font-weight: 700;
        font-size: 11px;
        line-height: normal;
        font-family: Arial;
        color: #ff0000;
    }
    .link-papel{
        font-size: 12px;
        color: #0000FF;
        font-family: Arial, sans-serif;
    }
    .message{
        max-width: 1000px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        color: rgb(77, 77, 77);
        font-weight: 400;
    }
    .container-Image-risco{
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
    }
    .imagem-risco{
        width: 325px;
        justify-content: flex-start;
        display: flex;
        max-width: 350px;
        margin-top: 5px ;
    }
    .link-social{
        text-decoration: underline;
        color: transparent;
    }
    .logo-assinatura{
        margin: 3px auto auto auto;
        max-height: 40px;
        height: 40px;
    }
    .last-section{
        display: none;
        gap: 15px;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .message-passo-a-passo{
        color: black;
        font-size: 30px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 600;
    }
    .cards-passo{
        width: 70%;
        height: auto;
        border: 2px solid black;
        border-radius:7px;
        padding:  15px;
        background: linear-gradient(to right, darkred, darkgray);
        flex-direction: column;
        display: flex;
    }
    li{
        color: white;
        padding: 15px;
        font-size: 20px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
    .img-passo{
        margin: auto;
        padding: 20px;
        width: 500px;
    }
    .footer{
        height: 65px;
        background-color: #8cb0b0;
        justify-content: center;
        align-items: center;
        display: flex;
        color: inherit;
    }
@media (max-width: 1069px) {
    .form{
        width: auto;
    }
}
@media (max-width: 500px) {
        .image-assinatura{
            width: 150px;
            height: 180px;
        }
}
